---
BasedOnStyle: WebKit
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Stroustrup
IndentCaseLabels: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
SpaceAfterCStyleCast: true
Language: Cpp
PointerAlignment: Right
TabWidth: '4'
UseTab: Always

...
